
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Modo Global Compartido: Acceso total a la colección items
    match /items/{document} {
      allow read, write: if true;
    }
  }
}
