
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leer y escribir en documentos de flotas si el usuario está logueado
    // Se recomienda mejorar esto validando el acceso específico por ID en producción
    match /fleets/{fleetId} {
      allow read, write: if request.auth != null;
    }
  }
}
